
    body { margin: 0; padding: 0; }

    #map2 { position: absolute; top: 0; bottom: 0; width: 100%; }

    .my-legend{
        position: absolute;
        
        
    }
    .my-legend .legend-title {
        text-align: left;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 90%;
        z-index: 1;

    }


    .my-legend .legend-scale ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;

    }

    .my-legend .legend-scale ul li {
        display: block;
        float: left;
        width: 50px;
        margin-bottom: 6px;
        text-align: center;
        font-size: 80%;
        list-style: none;
    }

    .my-legend ul.legend-labels li span {
        display: block;
        float: left;
        height: 15px;
        width: 50px;
    }

    .my-legend .legend-source {
        font-size: 70%;
        color: #999;
        clear: both;
    }

    /* .my-legend {
        max-width: 300px;
    } */
    

    .map-overlay-top {
      position: absolute;
      width: 25%;
      margin: 10px;
      padding: 10px 20px;
      background-color: white;
    }

    


    .map-overlay-top .map-overlay-inner {
        background-color: #fff;
        
        border-radius: 0px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .map-overlay-top h2 {
        line-height: 24px;
        display: block;
        margin: 0 0 10px;
    }

    .map-overlay-top .legend .bar {
        height: 10px;
        width: 100%;
        background: linear-gradient(to right, #fca107, #7f3121);
    }

    .map-overlay-top input {
        background-color: transparent;
        display: inline-block;
        width: 100%;
        position: relative;
        margin: 0;
        cursor: ew-resize;
    }